<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png"></a><br>
    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:7dNAnTCNymUovGgVoNhX3c?si=yyxpOErHQOyd3HxYyo5xwQ&size=detail&theme=dark" width="250" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden; margin: 0 auto;" allowtransparency="true"></iframe>
    
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/shows">shows</a></li>
            <li><a href="/merch">merch</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>

</header>
