<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper container">
        {{ content }}
        <div class="row" style="width: 100%;">
          <div class="col-md-5">
            <a href="/merch">JOIN THE CULT</a>
            <iframe src="https://open.spotify.com/embed/artist/7dNAnTCNymUovGgVoNhX3c" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <a href="/merch"><img width="100%" style="max-width: 500px;" src="{{ site.baseurl }}/img/merch1.jpg"></a>
          </div>
          <div class="col-md-7">
            <h3>MUSIC VIDEOS</h3>
            <div>-----</div>
            <iframe width="100%" style="max-width: 600px;" height="315" src="https://www.youtube.com/embed/1a5XGe83M5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="100%" style="max-width: 600px;" height="315" src="https://www.youtube.com/embed/wfpv37hs7bE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
